.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 180px; /* Ajustable selon le design */
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px 8px 22px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  .section:hover {
    transform: scale(1.05);
  }
  
  .circle {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .circle img {
    width: 60%;
    height: auto;
  }
  
  p {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    text-align: center;
    word-wrap: break-word;
  }
  
  .carts {
    text-decoration: none;
    display: flex;
    justify-content: center;
  }
  